.newsletter {
    padding: 6.5rem 0;
    text-align: center;
}

.newsletter>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid var(--cor-pri);
    height: 20rem;
    width: 60vw;
    gap: 2.5rem;
    margin: auto;
    padding: 0 2rem;
}

.newsletter>div>h3 {
    font-size: 2rem;
}

.newsletter>div>div>input {
    width: 75%;
    height: 4rem;
    border: 1px solid var(--cor-pri);
    border-right: 0;
}

.newsletter>div>div>input::placeholder {
    padding-left: 1rem;
}

.newsletter>div>div>button {
    height: 4rem;
    width: 8rem;
    background-color: var(--cor-qua);
    color: var(--cor-sec);
    border: 0;
}

@media screen and (max-width: 769px) {
    .newsletter>div {
        width: 80vw;
    }
}

@media screen and (max-width: 456px) {
    .newsletter>div {
        width: 90vw;
        padding: 0;
        line-height: 1.2;
    }
    .newsletter>div>div>input {
        width: auto;
    }
}