.products {
    margin: 5rem 2rem;
}

.products>h2 {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 500;
    margin: 3rem 1rem;
}

.products>ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.products>ul>li>img {
    vertical-align: bottom;
}

.products>ul>li>div {
    border: 1px solid var(--cor-qui);
    border-top: 0;
    text-align: left;
    padding: 2rem;
    width: 35rem;
}

.products>ul>li>div>h3 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--cor-pri);
}

.products>ul>li>div>p {
    color: var(--cor-pri);
    font-size: 1.3rem;
    padding: 1rem 0;
}

.products>ul>li>div>p:nth-child(3) {
    font-weight: 700;
    font-size: 1.6rem;
}

.products>ul>li>div>button {
    background-color: var(--cor-qua);
    border: 0;
    color: var(--cor-sec);
    padding: .9rem 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}
